/* CSS VARIABLES */

:root {

    /* COLORS */
    --white: #FFF;
    --white1: #F9FAFC;
    --white2: #F9FAFB;
    --black: #000;
    --blue: #3196E3;
    --blue-light: #F1F8FD;
    --black-light: #667085;


    /* FONT SIZES */
    --font-18: 18px;
    --font-16: 16px;
    --font-24: 24px;
    --font-32: 32px;

}

body {
    background-color: var(--white1);
}

/* Wrapper */
.wrapper {
    background-color: var(--white1);
}


/* HEADINGS AND SUB HEADINGS */

h3 {
    font-size: var(--font-32);
    font-weight: 800;
    letter-spacing: 0em;
    color: var(--black) !important;
}

h4 {
    /* font-family: Plus Jakarta Sans; */
    font-size: var(--font-24) !important;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0px;
    color: var(--black) !important;

}


strong {
    color: var(--black);
}




/* ################## SIGNUP PAGE CSS STARTS ##################*/

.signup-sidebar {
    width: 390px;
    height: 639px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0px 0px 24px 24px;
}

.signup-sidebar .steps span {
    font-size: var(--font-18);
    font-weight: 500;
    letter-spacing: 0em;
}

.signup-form .body {
    border-radius: 16px;
    background-color: var(--white2);
}

.signup-form form .form-group label,
.dashbord-body .form-card
.form label{

    /* font-family: Plus Jakarta Sans; */
    font-size: var(--font-16);
    font-weight: 500;
    color: var(--black);
    letter-spacing: 0em;
}

.signup-form form .form-group input,
.dashbord-body .form-card
.form input,
.dashbord-body .form-card
.form select{
    font-size: 14px;
    font-weight: 400;
    color: var(--black-light);
}

/* ################## SIGNUP PAGE CSS ENDS ##################*/



/* ################## DASHBOARD PAGES CSS STARTS ##################*/


.dashboard-layout {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    position: relative;
}

.dashbord-body {
    width: 100%;
    background: var(--white2) !important;
}

.dashboard-layout main {
    width: 100%;
    color: #1f2027;
}

.dashbord-body .form-card {
    min-height: 200px;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 18px 4px 35px 0px #4D546408;
}

.dashbord-body .form-card .form {
    border-radius: 16px;
    background-color: var(--white2);
}

/* ################## DASHBOARD PAGES CSS ENDS ##################*/


/* ################## UTILITIES CLASSES ##################*/

/* BUTTONS */

.btn-blue {
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    background: var(--blue);
    font-size: var(--font-16);
    border: 1px solid var(--blue);
    Padding: 10px 20px 10px 20px;
}

.btn-blue-d {
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    background: var(--blue);
    font-size: var(--font-16);
    border: 1px solid var(--blue);
    Padding: 6px 20px 6px 20px;
}

.outline-white-btn {
    cursor: pointer;
    Padding: 6px 20px 6px 20px;
    border-radius: 8px;
    color: var(--black);
    text-decoration: none;
    border: 1px solid #66708526;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(102, 112, 133, 0.15), rgba(102, 112, 133, 0.15));
}

.cross-btn {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--black-light);
}

.img-upload-btn {
    border-radius: 8px;
    color: var(--blue);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    padding: 5px 10px 5px 10px;
}

.next-btn {
    cursor: pointer;
    padding: 4px 32px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    border: 2px solid var(--blue);
    background-color: var(--blue);
}

.prev-btn {
    cursor: pointer;
    padding: 6px 32px;
    border-radius: 8px;
    color: var(--black);
    text-decoration: none;
    border: 1px solid #66708526;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(102, 112, 133, 0.15), rgba(102, 112, 133, 0.15));
}

.launch-btn {
    cursor: pointer;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    padding: 10px 32px 10px 36px;
    border: 2px solid var(--blue);
    background-color: var(--blue);
}

/* CARDS */

.signup-card {
    min-height: 90vh;
    border-radius: 24px;
    background-color: var(--white);
    box-shadow: 18px 4px 35px 0px #4D546408;
}

/* BACKGROUNDS */

.bg-light-blue {
    background-color: var(--blue-light);
}

/* COLORS */

.txt-l-dark {
    color: var(--black-light);
}

.txt-white {
    color: var(--white) !important;
}

.txt-muted {

    color: var(--black-light);
}

/* HEIGHTS */

.h-45px {
    height: 45px;
}

/* ACTIVE CLASSES */

.active-step {
    /* font-family: Plus Jakarta Sans; */
    font-weight: 700 !important;
}

/* CUSTOM FLEX BOX */

.common-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OTHERS */

.bar {
    position: relative;
    top: -5px;
    left: 7px;
    width: 1px;
    height: 50px;
    border-left: 1px solid var(--white);
}

.bar1 {
    position: relative;
    top: -5px;
    left: 7px;
    width: 1px;
    height: 50px;
    border-left: 1px solid rgb(196, 196, 196);
}

.read-o {
    background-color: var(--white2);
}

/* MEDIA QUERIES */

@media (max-width: 769px) {


    .signup-sidebar {
        display: none;
    }
}